#principal{
	background-color: black;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

.contenido{	
	margin-top: none;
}

#menu_almientos{
	width: 15%;
	float: left;

}

#galeria_menu{
	width: 62%;
	float: left;
	margin-left: 5px;
}

#descripcion_menu{
	width: 20%;
	float: right;
}

.lin{
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: center;
	text-align: center;
	background-color: #ec8b2e;
	color: white;

}

.lin:hover {
	background-color: #d9222e;
	/*padding: 2% 2% 0.85em 2%;*/
}


