#principal{
	width: 100%;
	margin-top: 0px;
	background-color: white;
	height: 100%;
}

.contenido{	
	margin-top: none;
	background-color: white;
	/*height: 100%;*/

}

#menu_almientos{
	width: 15%;
	float: left;
}

#galeria_menu{
	width: 62%;
	float: left;
	margin-left: 18px;
}

#descripcion_menu{
	width: 20%;
	float: right;
	font-size: 20px;
	padding-left: 5px;
}

.lin{
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: center;
	text-align: center;
	background-color: #ec8b2e;
	color: white;

}

.lin:hover {
	background-color: #d9222e;
	/*padding: 2% 2% 0.85em 2%;*/
}

#cambio{
	
}