#menu_barra{
	float: left;
	border: 1px solid blue;
	height: 100%;
	width: 150px;
}

#galeria_menu{
	border: 1px solid green;
	height: 100%;
	width: 100%;
}

#descripcion_Alimento{
	display: inline-block;
	float: right;
	border: 1px solid red;
	margin: 20px;
	height: 150px;
	width: 150px;
}
body{
	background: url(../images/fondo.jpg);
	background-repeat: repeat;
	background-size: contain;
	opacity: 15%;
}

.lineas{
	display: inline;
	border: 1px solid blue;
}

#logoNav{
	width: 30px;
	height: 30px;
}
