.principal{
	width: 100%;
	margin-top: 0px;
	background-color: white;
}

.contenido{	
	margin-top: none;
	background-color: white;
	display: inline-block;
	margin-bottom: 2em;
}


#info{
	float: left;
	width: 60%;
	margin-left: 1em;
}

#imagen{
	float: left;
	width: 35%;
	padding-left: 1%;
}

#img_nos{
	max-width: 500px;
	width: 100%;
}

@media only screen and (max-width: 768px) {

.contenido{
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
}
}

#foot{
	width: 100%;
	display: block;
	background-color: #d9222e;
	float: center;
}